:root {
  --primary: #032541;
  --secondary: #21d07a;
  --white: #fff;
}

.wrapper {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.info h3 {
  font-size: 2rem;
}

.info h4 {
  font-size: x-large;
}

.info h5 {
  padding: 1.5rem 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  width: fit-content;
  font-size: medium;
  margin: 0 4rem;
}

.control {
  margin-top: 2rem;
}

.control button {
  padding: 10px 15px;
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0.5rem;
  display: inline-block;
  border: none;
  font-size: 1rem;
  transition: all 0.3s ease;
  line-height: 1.1;
}

@media screen and (max-width: 380px) {
  .control button {
    padding: 8px 10px;
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    border: none;
    font-size: 1rem;
    transition: all 0.3s ease;
    line-height: 1.1;
    margin: 3px;
  }
}

.control button:hover {
  background-color: #1aa762;
  opacity: 1;
  cursor: pointer;
}

.control button:disabled {
  pointer-events: none;
  opacity: 0.5;
}
